<!-- <h1>Address Book</h1> -->

<p>Search: <input ng-model="query"></p>

<span>{{remaining()}} of {{contacts.length}} remaining</span>

[<a href="" ng-href="" ng-click="removeDone()">Remove Done</a>]

<ul class="unstyled">
  <li ng-repeat="contact in contacts | filter:query" class="well well-large">
    <input type="checkbox" ng-model="contact.done" ng-click="updateContact(contact)">
    <span ng-class="{done: contact.done}">{{contact.name}}  
      <img src="components/img/stock1.jpg"/>
      <ul>
        <li> {{contact.job}} </li>
        <li> {{contact.phone}} </li>
        <li> {{contact.email}} </li>
        <li> {{contact.address}} </li>
      </ul>
    </span>
  </li>
</ul>


<div>
  <form ng-submit="addContact()">
    <table>
      <tr>
        <td>
          <input type="text" ng-model="contactName" size="30" placeholder="Name" required>
        </td>
      <tr>
        <td><input type="text" ng-model="contactJob" size="30" placeholder="Occupation">
        </td>
      </tr>
      <tr>
        <td><input type="text" ng-model="contactPhone" size="30" placeholder="Phone Number">
        </td>
      </tr>
      <tr>
        <td><input type="text" ng-model="contactAddress" size="30" placeholder="Address">
        </td>
      </tr>
      <tr>
        <td><input type="email" ng-model="contactEmail" size="30" placeholder="Email">
        </td>
      </tr>
    </table>
    <input class="btn btn-success" type="submit" value="add">
    
    <!-- <input class="btn btn-success" type="submit" value="add"> -->
  </form>

</div>




<!-- <div ng-controller="CollapseDemoCtrl">
  <button class="btn" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
  <hr>
  <div collapse="isCollapsed">
    <div class="well well-large">Some content</div> 
  </div>
</div> -->