<!-- <h1>Address Book</h1> -->

<span>{{remaining()}} of {{todos.length}} remaining</span>

[<a href="" ng-href="" ng-click="removeDone()">Remove Done</a>]

<ul class="unstyled">
  <li ng-repeat="todo in todos">
    <input type="checkbox" ng-model="todo.done" ng-click"updateTodo(todo)">
    <span ng-class="{done: todo.done}">{{todo.text}} , {{todo.name}} , {{todo.phone}}</span>
  </li>
</ul>

<div>
  <form ng-submit="addTodo()">
    <table>
      <tr>
        <td>
          <input type="text" ng-model="todoText" size="30" placeholder="add new todo here" required>
        </td>
      <tr>
        <td><input type="text" ng-model="todoName" size="30" placeholder="add new contact name here">
        </td>
      </tr>
      <tr>
        <td><input type="text" ng-model="todoPhone" size="30" placeholder="add phone number here">
        </td>
      </tr>
    </table>
    <input class="btn btn-success" type="submit" value="add">
    
    <!-- <input class="btn btn-success" type="submit" value="add"> -->
  </form>

</div>